<div class="modal-header">
    <h3 class="modal-title" ng-if="method!='delete'" ng-bind="titleText ? titleText : data.name"></h3>
    <h3 class="modal-title" ng-if="method=='delete'" ng-bind="titleText ? titleText : 'Are you sure you want to delete this '+ type + '?'"></h3>
</div>
<div class="modal-body">
    <div ng-bind-html="message"></div>
    <div class="alert alert-danger" ng-show="errors" ng-bind-html="errors"></div>
    <form name="modalFlexForm">
        <div class="row form-field" ng-repeat="key in keys(parsed = parseData(data))">
            <div class="col-xs-4"><label ng-bind="key"></label></div>
            <div class="col-xs-8" ng-if="method!='edit'" ng-bind="parsed[key]"></div>
            <div class="col-xs-8" ng-if="method=='edit'" ng-class="{ 'has-error' : modalFlexForm[key].$invalid && (!modalFlexForm[key].$pristine || showFormErrors)}">
                <!-- TEXT, NUMBER, EMAIL, PASSWORD -->
                <input type="{{getType(key)}}"
                    name="{{key}}"
                    class="form-control input-sm"
                    ng-if="!specialType(getType(key))"
                    ng-model="data[key]"
                    ng-readOnly="isReadOnly(key)"
                    ng-required="isRequired(key)"/>
                <!-- OPTION -->
                <select ng-options="o.id||o as (o.name ? o.name : o) for o in getOptions(key)"
                    name="{{key}}"
                    class="form-control input-sm"
                    ng-if="getType(key)=='option'"
                    ng-model="data[key]"
                    ng-readOnly="isReadOnly(key)"
                    ng-required="isRequired(key)">
                </select>
                <!-- TEXTAREA -->
                <textarea
                    name="{{key}}"
                    class="form-control input-sm"
                    ng-if="getType(key)=='text-area'"
                    ng-model="data[key]"
                    ng-readOnly="isReadOnly(key)"
                    ng-required="isRequired(key)">
                </textarea>
                <!-- RADIO -->
                <label ng-repeat="o in getOptions(key)"
                    class="col-xs-12"
                    ng-if="getType(key)=='radio'">
                    <input type="radio"
                        name="{{key}}"
                        ng-model="data[key]"
                        value="{{o.id ? o.id : o}}"
                        ng-disabled="{{isReadOnly(key) && (o.id ? o.id : o) != data[key]}}"
                        ng-required="isRequired(key)">
                    {{o.name ? o.name : o}}
                </label>
                <p ng-show="modalFlexForm[key].$invalid && (!modalFlexForm[key].$pristine || showFormErrors)" class="help-block">
                    <span ng-show="modalFlexForm[key].$error.email">{{key}} should be an email!</span>
                    <span ng-show="modalFlexForm[key].$error.required">{{key}} is required!</span>
                    <span ng-hide="modalFlexForm[key].$error.email || modalFlexForm[key].$error.required">{{key}} is invalid!</span>
                </p>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer" ng-if="method!='show'">
    <button class="btn btn-primary btn-xs" ng-click="ok()">
        <span ng-if="method=='edit'">
            <span class="glyphicon glyphicon-save" ng-if="okText=='Save' && icons"></span>
            <span class="glyphicon glyphicon-ok" ng-if="okText!='Save' && icons"></span>
            <span ng-bind="okText"></span>
        </span>
        <span ng-if="method=='delete'">
            <span class="glyphicon glyphicon-trash"></span>
            <span ng-bind="okText"></span>
        </span>
    </button>
    <button class="btn btn-danger btn-xs" ng-if="displayCancel" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove" ng-if="icons"></span>
        <span ng-bind="cancelText"></span>
    </button>
</div>