<div class="modal-header">
    <h3 class="modal-title" ng-if="method!='delete'" ng-bind="data.name"></h3>
    <h3 class="modal-title" ng-if="method=='delete'">Are you sure you want to delete this {{type}}?</h3>
</div>
<div class="modal-body">
    <div class="alert alert-danger" ng-bind-html="errors" ng-show="errors"></div>
    <div class="row form-field" ng-repeat="key in keys(parsed = parseData(data))">
        <div class="col-xs-4"><label ng-bind="key"></label></div>
        <div class="col-xs-8" ng-if="method!='edit'" ng-bind="parsed[key]"></div>
        <div class="col-xs-8" ng-if="method=='edit'">
            <input type="{{getType(key)}}" class="form-control input-sm" ng-if="!specialType(getType(key))" ng-model="data[key]" ng-readOnly="isReadOnly(key)"/>
            <select class="form-control input-sm" ng-if="getType(key)=='option'" ng-model="data[key]" ng-options="o.id||o as (o.name ? o.name : o) for o in getOptions(key)"></select>
            <textarea class="form-control input-sm" ng-if="getType(key)=='text-area'" ng-model="data[key]"></textarea>
            <label class="col-xs-12" ng-if="getType(key)=='radio'" ng-repeat="o in getOptions(key)">
                <input type="radio" ng-model="data[key]" value="{{o.id ? o.id : o}}">
                {{o.name ? o.name : o}}
            </label>
        </div>
    </div>
</div>
<div class="modal-footer" ng-if="method!='show'">
    <button class="btn btn-primary btn-xs" ng-click="ok()">
        <span ng-if="method=='edit'">
            <span class="glyphicon glyphicon-save"></span> Save
        </span>
        <span ng-if="method=='delete'">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </span>
    </button>
    <button class="btn btn-danger btn-xs" ng-click="cancel()">
        <span class="glyphicon glyphicon-remove"></span> Cancel
    </button>
</div>